{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section class="main" role="main">
  {{!< default}}

<article class="col-md-offset-2 col-md-8">
  {{#foreach posts}}
    <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
    <p class="author">Published by {{author.name}}, {{date published_at timeago="true"}}</p>
    
    {{content}}
            
  {{/foreach}}
</article>
</section>